@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swa   p');

body{
    min-width: 300px;   
}
/* Initialiation des variables */
:root {

    --nav : #0AA1DD;
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --white:white;
    --blue:rgba(59, 130, 246, 0.4);
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --blue:rgba(59, 130, 246, 0.4);

/* Les Tailles des écrants */
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

/* Les selecteurs universel */

*{
    font-family:'Roboto', 'sans-serif';
    margin:0;
    padding:0;
    outline-offset: none; 
    border:none;
    box-sizing:border-box;
    text-decoration:none;
    /* text-transform:capitalize; */
    list-style:none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;  
}
/***************************** NAVBAR *************************************/
.navbar{
    background: var(--black);
}
span {
    color: var(--primary);
}
h4 {
    font-size: 1.8rem;
    color:var(--white);
}
h4::first-letter {
    font-size: 2rem;
}
h4:hover {
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.2s;
}
a h4:hover {
    border-bottom: none;
}
/* Liens de navigation*/
.navbar-nav{
    gap: 2rem;
}
.nav-link{
    color:var(--normal);
    font-family:'Arial', 'sans-serif';
}
.navbar-nav a:hover{
   color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding-bottom: 0.8rem;
    background-color: var(--black);
}
/* ======HEADER======= */

header {
    background-color: var(--blue);
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.header_container {
    display: flex;
    align-items: center;
    position: relative;
}
.header_right {
    flex: 1;
}
.header_right .text-1 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}
.header_right .text-2 {
    font-size: 3.6rem;
    font-weight: 550;
}
.text-2 span{
    color: var(--black);
}
.header_right .text-3 {
    font-size: 2.5rem;
    margin: 0.3rem 0;
}
header::before {
    /* content: ""; */
    position: absolute; 
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewY(-2deg);
    transform-origin: left;
}
.header_right .typing {
    color: var(--black);
    font-weight: 500;
    margin-left:5px;
}
.header_left_img{
    margin-top:50px;
}